---
layout: layouts/basicpage.njk
title: Legal Notice
date: 2019-10-01
---
    <div class="wrapper--hr">
      <h2 class="p-summary">Legal Notice</h2>
      <p>Sad, long, but mandatory german legal stuff.</p>

              <section class="wrapper--part">
          <h3 id="wireshell-logo">
            <span>wireshell Logo</span>
          </h3>

          <p>{% include 'partials/logo.njk' %}</p>

          <p>Made in Germany by <a href="https://marcus-herrmann.com/">Marcus Herrmann</a>.</p>
        </section>
              <section class="wrapper--part">
          <h3 id="conception--design--programming">
            <span>Conception, design, programming</span>
          </h3>


          <ul>
<li><a href="https://justbea.dev/">Tabea David</a></li>
<li><a href="https://marcus-herrmann.com/">Marcus Herrmann</a></li>
</ul>
<h4>Address</h4>
<p>Tabea David<br />
Droßkau 7<br />
04539 Groitzsch</p>
<h4>Tax information</h4>
<p>USt-IdNr. / VATID: DE280452224<br />
Finanzamt Borna</p>
        </section>
              <section class="wrapper--part">
          <h3 id="mit-license">
            <span>MIT License</span>
          </h3>


          <p>The MIT License (MIT)</p>
<p>Copyright (c) 2019 Bea David</p>
<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the &quot;Software&quot;), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
<p>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
        </section>
              <section class="wrapper--part">
          <h3 id="code-of-conduct">
            <span>Code of conduct</span>
          </h3>


          <p>As contributors and maintainers of this project, we pledge to respect all people who contribute through reporting issues, posting feature requests, updating documentation, submitting pull requests or patches, and other activities.</p>
<p>We are committed to making participation in this project a harassment-free experience for everyone, regardless of level of experience, gender, gender identity and expression, sexual orientation, disability, personal appearance, body size, race, ethnicity, age, or religion.</p>
<p>Examples of unacceptable behavior by participants include the use of sexual language or imagery, derogatory comments or personal attacks, trolling, public or private harassment, insults, or other unprofessional conduct.</p>
<p>Project maintainers have the right and responsibility to remove, edit, or reject comments, commits, code, wiki edits, issues, and other contributions that are not aligned to this Code of Conduct. Project maintainers who do not follow the Code of Conduct may be removed from the project team.</p>
<p>Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by opening an issue or contacting one or more of the project maintainers.</p>
<p>This Code of Conduct is adapted from the <a href="http://contributor-covenant.org/">Contributor Covenant</a>, version 1.0.0, available at <a href="http://contributor-covenant.org/version/1/0/0/"><a href="http://contributor-covenant.org/version/1/0/0/">http://contributor-covenant.org/version/1/0/0/</a></a>.</p>
        </section>
              <section class="wrapper--part">
          <h3 id="disclaimer">
            <span>Disclaimer</span>
          </h3>


          <h4>Liability for content</h4>
<p>The content of this site was created with the utmost care. However, we cannot guarantee that the content is accurate, complete or up-to-date. As service providers, pursuant to Section 7 Para. 1 of the German Telemedia Act (TMG) we are responsible under German law for our own content on this website. According to Sections 8 to 10 of the TMG, however, as service providers we are not required to monitor information transferred or stored by third parties or to investigate circumstances that suggest illegal activity. Obligations concerning the removal or barring of the use of information in accordance with legal regulations are unaffected by this. Any liability in this respect may however only be incurred from the moment that we become aware of a specific breach of the law. Should we become aware of any corresponding violation of the law we shall remove the content concerned immediately.</p>
<h4>Liability for links</h4>
<p>Our site contains links to third-party websites, over whose content we have no influence. We cannot, therefore, assume any responsibility for this external content. In each case, the respective provider or site operator is responsible for the content of the linked sites. All linked sites are checked for potential violations of the law at the time of placing the link. No unlawful contents were apparent at the time each link was created. However, we cannot be reasonably expected to permanently check the content of the linked sites without any specific indication of a violation of the law. Should we become aware of any legal violation, we shall remove the offending links immediately.</p>
<h4>Copyright</h4>
<p>The content and work presented on this website by the site operator are subject to German copyright law. Duplication, processing, distribution or any kind of utilisation beyond that permitted under copyright law requires the written consent of the author or creator. Downloads and copies of this site are permitted for private, non-commercial use only. Insofar as the content of this site was not created by the operator, any copyright of third parties is respected. In particular, content from third parties is indicated as such. Nevertheless, should you have reason to believe a copyright violation has occurred, we kindly request that you inform us of this. Should we become aware of any legal violation, we shall remove the offending content immediately.</p>
<h4>Data protection</h4>
<p>As a rule it is possible to use our website without providing any personal information. Whenever personal data is collected on our website (for example: name, residential address or email addresses), as far as possible this always occurs on a voluntary basis. We shall not forward such data to third parties without your explicit consent.</p>
<p>We would like to point out that online data transmission (such as when communicating via email) may be subject to security breaches. It is not possible to ensure full protection of data against access by third parties.</p>
<p>We hereby expressly object to the third-party use of contact data, which has been published in accordance with the requirement in Germany to provide such information in an “Impressum”, for the transmission of not expressly solicited advertising and information material. The site operators expressly reserve the right to take legal steps in the case of the unsolicited sending of advertising material, such as via spam emails.</p>
<p>German source texts (subsequently translated into English) from:
<a href="http://www.e-recht24.de/muster-disclaimer.htm">eRecht24</a> (Disclaimer)</p>
        </section>
          </div>
