<footer class="footer  wrapper--footer  wrapper--hr">
  <h3>Got some new ideas or feature requests?</h3>
  <h4>Let us know!</h4>
  <ul class="social__list">
    <li>
      <a href="https://processwire.com/talk/topic/9494-wireshell-an-extendable-processwire-command-line-interface/?page=6#comment-129875">
        {% set name = 'processwire' %}
        {% include 'partials/_svg.njk' %}
      </a>
    </li>
    <li>
      <a href="https://github.com/wireshell/wireshell">
        {% set name = 'github' %}
        {% include 'partials/_svg.njk' %}
      </a>
    </li>
    <li>
      <a href="https://twitter.com/wiresh3ll">
        {% set name = 'twitter' %}
        {% include 'partials/_svg.njk' %}
      </a>
    </li>
    <li>
      <a href="https://docs.wireshell.pw/">
        {% set name = 'documentation' %}
        {% include 'partials/_svg.njk' %}
      </a>
    </li>
  </ul>
  <p class="small">
    <a href="/">wireshell</a>
    is published under the <a href="/legal-notice#mit-license" title="MIT License">MIT License</a>.
    Build with <a href="https://processwire.com/">ProcessWire &hearts;</a>.
    <a href="/legal-notice">Legal Notice</a>.
  </p>
</footer>
<a href="https://github.com/wireshell/wireshell" title="If it's not on github it's not open source!" class="corner">
  {% set name = 'github2' %}
  {% include 'partials/_svg.njk' %}
</a>
